
html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card{
    background: rgb(255, 255, 255);
    padding: 2rem 4rem;

}
.card p{
    padding-top:1ren ;
    line-height: 200%;
    
}
.expand{
    width: 25rem;
}
.center{
    text-align: center;
}