html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
.banner {
  margin: 0 0 0 0;
  background: url('./assets/img/background.jpg')repeat fixed;
  height: 100vh;
  width: 100%;
  display: inline-flex;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  }

.banner-crop{
  background-image: url('./assets/img/crop.png');
  height: 100vh;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  
.card-test{
    position: relative;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.4);
    height: 350px;
    width: 250px;
  }
  
  
